<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4"
			<div class="form-sign" method="post" ng-submit="user.signupUser()">
				<form method="post" ng-submit="user.doLogin()">
					Name:<input type="text" name="name" class="form-control" ng-model="user.userData.name"/>
					Username:<input type="text" name="username" class="form-control" ng-model="user.userData.username"/>
					Password:<input type="password" name="password" class="form-control" ng-model="user.userData.password" />
					
					<button type="submit" class="btn btn-danger" >Signup</button>
				</form>
			</div>
		</div>
	</div>
</div>